.jui-stack {
  display: flex;
  gap: var(--jui-stack-gap);
}

.jui-stack--row {
  flex-direction: row;
}

.jui-stack--column {
  flex-direction: column;
}

.jui-stack--wrap {
  flex-wrap: wrap;
}

.jui-stack--align-start {
  align-items: flex-start;
}

.jui-stack--align-center {
  align-items: center;
}

.jui-stack--align-end {
  align-items: flex-end;
}

.jui-stack--align-stretch {
  align-items: stretch;
}

.jui-stack--justify-start {
  justify-content: flex-start;
}

.jui-stack--justify-center {
  justify-content: center;
}

.jui-stack--justify-end {
  justify-content: flex-end;
}

.jui-stack--justify-between {
  justify-content: space-between;
}
